/* static/admin/css/admin_tabs.css */

.inline-group-tabs {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.inline-group-tabs button {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 8px 15px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    color: #555;
}

.inline-group-tabs button.active {
    background-color: #fff;
    border-bottom-color: #fff;
    color: #000;
}

/* Esconde todos os inlines por padrão */
.inline-group {
    display: none;
}

/* Mostra apenas o inline que tem a classe 'active' */
.inline-group.active {
    display: block;
}
