{% extends "admin/change_list.html" %}
{% load static i18n admin_urls %}

{% block object-tools %}
  <ul class="object-tools">
    <li>
      <button type="button" class="button default" id="open-create-etiqueta-btn">Criar Nova Etiqueta</button>
    </li>
  </ul>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin_styles.css' %}">
{% endblock %}

{% block content %}
  {{ block.super }}

  <div id="create-etiqueta-modal" style="display:none; position: fixed; z-index: 1060; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);">
    <div style="position: relative; margin: 10% auto; padding: 20px; width: 90%; max-width: 450px; background: #fff; border-radius: 5px;">
      <h3 style="margin-top: 0;">Criar Nova Etiqueta</h3>
      <label for="new-etiqueta-name-input" style="display: block; margin-bottom: 5px;">Nome:</label>
      <input type="text" id="new-etiqueta-name-input" placeholder="Nome da etiqueta" style="width: 100%; padding: 8px; box-sizing: border-box; margin-bottom: 15px;">
      <div style="display: flex; justify-content: space-between; margin-bottom: 20px; gap: 20px;">
        <div>
          <label style="display: block; margin-bottom: 5px;">Cor de Fundo:</label>
          <div id="color-picker-fundo"></div>
        </div>
        <div>
          <label style="display: block; margin-bottom: 5px;">Cor da Fonte:</label>
          <div id="color-picker-fonte"></div>
        </div>
      </div>
      <div id="create-etiqueta-error" style="color: red; margin-bottom: 10px; display: none;"></div>
      <div style="text-align: right;">
        <button id="cancel-create-etiqueta-btn" class="button">Cancelar</button>
        <button id="save-new-etiqueta-btn" class="button default">Salvar</button>
      </div>
    </div>
  </div>
{% endblock content %}
