{% load i18n custom_filters %}

{# 1. Lógica para determinar se o filtro está ativo #}
{% with is_active=choices|slice:"1:"|some:"selected" %}

<div class="filter-container">
    {# 2. Usamos a variável 'is_active' para adicionar a classe 'active' #}
    <details class="filter-collapsible {% if is_active %}active{% endif %}" open>
        <summary>
            <span>{% blocktrans with filter_title=title %}Por {{ filter_title }}{% endblocktrans %}</span>
        </summary>
        <div class="filter-choices">
            <ul>
                {% for choice in choices %}
                    <li class="{% if choice.selected %}selected{% endif %}">
                        <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </details>
</div>

{% endwith %}
